.is-component{
    /*margin: 0 auto;*/
   margin: 10px 10px;
    height: 50%;
}
*{
    margin: 0;
}

    body, form {
        position: relative;
        z-index: 0;
        min-width: 320px; /* 移动设备的常见最小宽度 */
        width: 100%; /* 自适应宽度 */
        height: 100vh;
    }

#gray-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    z-index: 1001;

}
#content-box {
    position: absolute;
    top: 5%;
    left: 15%;
    background-color: white;
    width: 450px;
    padding: 20px;
    height: 700px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: width 0.3s; 
}
#header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#return-btn {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
}

#return-btn:hover {
    background-color: #f5f5f5;
}
button {
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* 天蓝色样式 */
button#read-button, button#read-button-2{
    margin: 10px 0;
    background-color: #00aaff; /* 天蓝色背景 */
}

button#submit,button#submit-2 {
    margin-top: 10px;
   float: right;
    background-color: #00aaff; /* 天蓝色背景 */
}

/* 悬停状态 */
button:hover {
    background-color: #0099cc; /* 稍深的蓝色背景 */
    transform: scale(1.05); /* 按钮放大效果 */
}

/* 按下状态 */
button:active {
    background-color: #007acc; /* 更深的蓝色背景 */
}
#header-title {
    font-size: 18px;
    color: #333;
}
#form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#form-section label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

#form-section input[type="text"],
#form-section textarea {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
}
/* 默认显示 content-1，隐藏 content-2 */
#content-1 {
    display: block;
    width: 100%;
    height: 700px;
}
#content-2 {
    display: none;
    width: 100%;
    height: 200px;
}
/* 调整下拉选择器的大小和间距 */
select {
    width: 150px; /* 选择器的宽度 */
    margin: 10px 0; /* 选择器之间的间距 */
    padding: 10px; /* 选择器内部的空间 */
    font-size: 16px; /* 选择器中的文字大小 */
}
#text-box,#text-box-2{
    width: 100%;
}

#selector1 {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 在选择器之间添加间隔 */
    align-items: center; /* 垂直居中对齐 */
}
#selector1 select {
    flex: 1; /* 使每个选择器占用相同的空间 */
    margin-right: 10px; /* 在选择器之间添加一些间隔 */
}

/* 最后一个选择器不需要右边距 */
#selector1 select:last-child {
    margin-right: 0;
}
#selector2 {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 在选择器之间添加间隔 */
    align-items: center; /* 垂直居中对齐 */
}
#selector2 select {
    flex: 1; /* 使每个选择器占用相同的空间 */
    margin-right: 10px; /* 在选择器之间添加一些间隔 */
}

/* 最后一个选择器不需要右边距 */
#selector2 select:last-child {
    margin-right: 0;
}
/* 调整选项的大小和间距 */
option {
    padding: 5px; /* 选项内部的空间 */
    font-size: 14px; /* 选项中的文字大小 */
}

#big-box {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#content-div {
    width: 80%;
}
.upload-demo {
    width: 100%;
    height: 300px;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    text-align: center;
    color: #999;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-demo i {
    font-size: 28px;
}
.upload-demo .el-upload__text {
    font-size: 14px;
    margin: 0;
}
.upload-demo .upload-text {
    color: #999;
}
.upload-demo .upload-link {
    color: #409EFF;
    text-decoration: underline;
    cursor: pointer;
}
.upload-demo .upload-link:hover {
    text-decoration: none;
}
.file-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}
.file-list-item {
    margin: 5px 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.file-list-item span {
    color: #409EFF;
    text-decoration: none;
    cursor: pointer;
}
.file-list-item span:hover {
    text-decoration: underline;
}
.file-list-item .delete-btn,.file-list-item-2 .delete-btn,#header #delete-btn{
    background: #ff4d4f;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
#backlastpage,#nextpage,#nextpage-2,#backlastpage-2{
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
    background-color:#00aaff;
   
}
#nextpage,#nextpage-2{
    float: right;
}
#header #delete-btn{
    position: absolute;
    right: 2%;
}
.file-list-item .delete-btn:hover,.file-list-item-2 .delete-btn:hover{
    background: #e43d3d;
}
.hidden {
    display: none;
}
#file-content {
    display: none;
    border: 1px solid #d9d9d9;
    padding: 10px;
    margin-top: 10px;
}
#file-content pre {
    white-space: pre-wrap; /* 处理长文本的换行 */
}

/* 弹窗样式 */
.url-modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* 胶囊遮罩 */
}
.modal{

    position: absolute;
    right: 5%;
    top: 5%;
    width: 50%; /* 或其他适当宽度 */
    height: 700px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.modal.show {
    opacity: 1;
    visibility: visible;
}

.url-modal-content,.url-modal-content-2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}
.modal-content h3{
    font-size: 18px;
    color: #333;
}
#modal-content,#modal-content-2{
    max-height: 60vh; /* 最大高度，避免遮挡内容 */
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ddd; /* 边框 */
    border-radius: 5px; /* 圆角边框 */
    background-color: #ffffff; /* 背景色 */
}
.content-box {
    width: 200px; /* 或你想要的窄条宽度 */
    height: 100%; /* 保持原高度不变 */
    overflow-y: auto; /* 纵向滚动条 */
    overflow-x: hidden; /* 禁止横向滚动条 */
    padding: 10px; /* 内边距 */
    box-sizing: border-box; /* 包含边框和内边距在宽度和高度内 */
    border: 1px solid #ddd; /* 边框 */
    border-radius: 5px; /* 圆角边框 */
    background-color: #f9f9f9; /* 背景色 */
    transition: all 0.3s ease; /* 平滑过渡效果 */
}

/* 选中时突出显示 */
.content-box:focus-within {
    border-color: #007bff; /* 高亮边框色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 高亮阴影 */
}
.close, .close-url {
    position: absolute;
    color: #aaa;
   top:0px;
   right:10px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus, .close-url:hover, .close-url:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
.url-modal-content input[type="text"],.url-modal-content-2 input[type="text"]{

    width: 95%;
    padding: 8px;
    margin-top: 10px;
}

.upload-demo-2 {
    width: 100%;
    height: 300px;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    text-align: center;
    color: #999;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-demo-2 i {
    font-size: 28px;
}
.upload-demo-2 .el-upload__text-2 {
    font-size: 14px;
    margin: 0;
}
.upload-demo-2 .upload-text-2 {
    color: #999;
}
.upload-demo-2 .upload-link-2 {
    color: #409EFF;
    text-decoration: underline;
    cursor: pointer;
}
.upload-demo-2 .upload-link-2:hover {
    text-decoration: none;
}
.file-list-2 {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}
.file-list-item-2 {
    margin: 5px 0;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.file-list-item-2 span {
    color: #409EFF;
    text-decoration: none;
    cursor: pointer;
}
.file-list-item-2 span:hover {
    text-decoration: underline;
}
.file-list-item-2 .delete-btn-2 {
    background: #ff4d4f;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.file-list-item-2 .delete-btn-2:hover {
    background: #e43d3d;
}
.hidden-2 {
    display: none;
}
#file-content-2 {
    display: none;
    border: 1px solid #d9d9d9;
    padding: 10px;
    margin-top: 10px;
}
#file-content-2 pre {
    white-space: pre-wrap; /* 处理长文本的换行 */
}
/* 弹窗样式 */
.modal-2, .url-modal-2 {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* 胶囊遮罩 */
}
.modal-content-2{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}
.close-2, .close-url-2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-2:hover, .close-2:focus, .close-url-2:hover, .close-url-2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}


 /* 登录弹窗样式 */
 .login-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.login-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
.login-modal input {
    width: 92%;
    padding: 10px;
    margin: 5px 0;
}
.login-modal button {
    width: 100%;
    padding: 10px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-modal button:hover {
    background-color: #0099cc;
}
.login-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
 /* 侧边栏样式 */
 #sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #f5f5f5;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 2800;
}
#sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #00aaff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
#sidebar button:hover {
    background-color: #0099cc;
}
/* 旋转动画的样式 */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #f2b632; /* A warm amber color */
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out;
}
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* 半透明灰白色背景 */
    z-index: 9999; /* 确保遮罩层在最上层 */
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: auto; 
} 
button#url-submit,button#url-submit-2{
    margin: 10px 0;
   
    background-color: #00aaff;
}
/* Fade-in and fade-out animation */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -60%); }
    10% { opacity: 1; transform: translate(-50%, -50%); }
    90% { opacity: 1; transform: translate(-50%, -50%); }
    100% { opacity: 0; transform: translate(-50%, -60%); }
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#uploadProgressBarContainer {
    width: 60%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#uploadProgressBar {
    width: 0%; 
    height: 30px;
    background-color: #3498db;
    height: 100%;
    border-radius: 10px;
    transition: width 0.2s ease;
}
#progressText {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* 弹出提示框的样式 */
.successMessage,.successMessage2{
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.submitsuccess .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.modal-content .close:hover {
    color: #000;
}



@media screen and (max-width: 768px) {
    #sidebar {
        left: -250px; /* 默认隐藏侧边栏 */
    }

    #sidebar.active {
        left: 0; /* 显示侧边栏 */
    }
    #content-box{
        margin-top: 10px;
        width: 80%;
        left: 5%;
    }
    .modal-content{
        top: 0%;
     
    }
    .url-modal-content,.url-modal-content-2{
        top: 20%;
    }
    #sidebar-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: #00aaff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        z-index: 3000;
    }
    select {
        width: 35%;
        margin: 10px 0;
        padding: 10px 0;
        font-size: 13px;
    }
    #content-1 {
       
        width: 100%;
      
    }

   .url-modal-content,.url-modal-content-2 {
        
        width: 85%;
      
    }
    .url-modal {
     
        top:0;
     
    }
    #gray-background{
        max-height: 100vh;
        padding: 0px;
    }
    .modal {
        width: 85%; /* 调整为适合小屏幕的宽度 */
        height: 80%; /* 取消固定高度，让内容决定高度 */
        /* 调整位置居中 */
         /* 调整位置居中 */
         margin-top: 10px;
         left: 3%;
        padding: 15px; /* 减少填充以适应较小屏幕 */
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* 适度减少阴影 */
    }
  
    #modal-content,#modal-content-2 {
        
        max-height:65vh; /* 减少最大高度以适应小屏幕 */
        padding: 15px; /* 减少填充 */
        font-size: 14px; /* 调整字体大小 */
    }

    .modal-content h3 {
        font-size: 16px; /* 调整标题字体大小 */
    }
    #uploadProgressBarContainer {
        width: 80%;
      
    }
    
}

/* 在大于768px的屏幕上，默认显示侧边栏，隐藏切换按钮 */
@media screen and (min-width: 769px) {
    #sidebar-toggle {
        display: none;
    }
    #backlastpage,#nextpage,#nextpage-2,#backlastpage-2{
   
        display: none;
    }

    #sidebar {
        left: 0;
    } 
    #sidebar #sidebar-close{
        display: none;
    }
}
